<nav class="navigation_menu">
  <a class="application_brand" routerLink="/">
    <img class="application_image" src="./../../../assets/moments.png" alt="Moments Logo" title="Moments"/>
      <h2 class="application_name"> Moments </h2>
  </a>
    <ul class="navigation_list">
      <li class="navigation_option">
        <a class="navigation_link" routerLink="/">
          Home
        </a>
      </li>
      <li class="navigation_option">
        <a class="navigation_link" id="share_moment" routerLink="moments/new">
          Share
        </a>
      </li>
      <li class="navigation_option">
        <a class="navigation_link" routerLink="/about">
          About
        </a>
      </li>
    </ul>
</nav>
