<div class="moment_container" *ngIf="moment">
  <h1 class="moment_title">
    {{ moment.title }}
  </h1>
    <img class="moment_image" src="{{ baseApiUrl }}/uploads/{{ moment.image }}" alt="{{ moment.title }}"/>
      <div class="moment_about">
        <h3 class="about_title">
          Sobre este momento:
        </h3>
          <p class="about_description">
            {{ moment.description }}
          </p>
      </div>
      <div class="actions_container">
        <h3 class="actions_options">
          Ações:
        </h3>
          <a class="edit_action" routerLink="/moments/edit/{{ moment.id }}">
            <fa-icon [icon]="faEdit"> </fa-icon>
              Editar
          </a>
            <button class="remove_action" (click)="removeHandler(moment.id!)">
              <fa-icon [icon]="faTimes"> </fa-icon>
                Excluir
            </button>
      </div>
      <div class="comments_container">
        <h3 class="comments_title">
          Comentários ({{ moment.comments!.length > 0 ? moment.comments!.length : 0 }}):
        </h3>
          <div class="comments_list" *ngIf="moment.comments!.length > 0; else noComments">
            <div class="comment_container" *ngFor="let comment of moment.comments">
              <p class="comment_text">
                {{ comment.text }}
              </p>
                <p class="comment_author">
                  <span class="author_detail">
                    Por:
                  </span>
                    {{ comment.username }}
                </p>
            </div>
          </div>
            <ng-template #noComments>
              <p class="without_comments_text">
                Não há comentários para este momento.
              </p>
            </ng-template>
      </div>
      <div class="comment_form">
        <h3 class="comment_form_slogan">
          Deixe um comentário:
        </h3>
          <form class="moment_form" [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
            <div class="form_group">
              <label for="text">
                Comentário:
              </label>
                <textarea placeholder="O que você quer comentar?" formControlName="text" required></textarea>
                <div class="validation_information" *ngIf="text.invalid && formDir.submitted">
                  <p class="validation_message" *ngIf="text.errors?.['required']"> O Texto do Comment é obrigatório! </p>
                </div>
            </div>
            <div class="form_group">
              <label for="username">
                Autor:
              </label>
                <input type="text" placeholder="Digite seu nome" formControlName="username" required/>
                <div class="validation_information" *ngIf="username.invalid && formDir.submitted">
                  <p class="validation_message" *ngIf="username.errors?.['required']"> O Autor do Comment é obrigatório! </p>
                </div>
            </div>
            <input type="submit" value="Comentar!" />
          </form>
      </div>
</div>

