<div class="moment_container" *ngIf="moment">
  <h1 class="moment_title">
    {{ moment.title }}
  </h1>
    <img class="moment_image" src="{{ baseApiUrl }}/uploads/{{ moment.image }}" alt="{{ moment.title }}"/>
      <div class="moment_about">
        <h3 class="about_title">
          Sobre este momento:
        </h3>
          <p class="about_description">
            {{ moment.description }}
          </p>
      </div>
      <div class="actions_container">
        <h3 class="actions_options">
          Ações:
        </h3>
          <a class="edit_action" routerLink="/moments/edit/{{ moment.id }}">
            <fa-icon [icon]="faEdit"> </fa-icon>
              Editar
          </a>
            <button class="remove_action" (click)="removeHandler(moment.id!)">
              <fa-icon [icon]="faTimes"> </fa-icon>
                Excluir
            </button>
      </div>
      <div class="comments_container">
        <h3 class="comments_title">
          Comentários ({{ moment.comments!.length > 0 ? moment.comments!.length : 0 }}):
        </h3>
          <div class="" *ngIf="moment.comments!.length > 0; else noComments">
            <div class="comment_container" *ngFor="let comment of moment.comments">
              <p class="comment_text">
                {{ comment.text }}
              </p>
                <p class="comment_author">
                  <span class="author_detail">
                    Por:
                  </span>
                    {{ comment.username }}
                </p>
            </div>
          </div>
            <ng-template #noComments>
              <p class="without_comments_text">
                Não há comentários para este momento.
              </p>
            </ng-template>
      </div>
  </div>
