/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Cambria;
  color: #444444;
}

a {
  color: #444444;
  text-decoration: none;
  transition: 0.4s all;
}

a:hover {
  color :#DEC129;
}
